{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add product</title>
    <link rel="stylesheet" href="{%  static 'css/add.css' %}">
</head>
<body>
    {% csrf_token %}
    <div class="card">
    <h1>ADD PRODUCT</h1>
        <form action="/post/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="">Name: </label>
            <input type="text" name="name"  id ="name" required><br><br>
            <label for="">Price: </label>
            <input type="number" name="price" id="price" required ><br><br>
            <label for="">Image: </label>
            <input type="file" name="image" id="image" required ><br><br>
            <label for="">Description: </label>
            <textarea name="description" ></textarea><br><br>

            <input type="submit" value="ADD">
  
        </form></div>


</html>